#about-intro {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;

    #pre-intro-title {
        color: _palette(primary);
    }

    #intro-title {
        font-size: _font(headline-extra-large);
        font-weight: 700;
        color: _palette(text-accent);
        margin-bottom: 1rem;
    }

    #intro-description {
        font-size: _font(headline-meduim);
        color: _palette(onBackground);
        margin-bottom: 1rem;
    }
}

#about-me {
    .section-paragraph {
        max-width: 50%;

        @include little-desktop {
            max-width: 100%;
        }
    }

    #about-education{
        color : _palette(primary);

        h1{
            margin-bottom:  calc(_size(element-margin) / 2);
        }

        ul{
            color : _palette(onBackground);
            display: flex;
            flex-direction: column;

            li{
                margin-left : _size(element-margin);
                margin-bottom: calc(_size(element-margin) / 2);

            }
        }
    }

}