#experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .section-title{
        margin-bottom: _size(element-margin);
    }

    .section-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: _size(featured-project-card-height);

        @include weird-medium {
            flex-direction: column;

        }

        

    }
}

.experience-card{
    background-color: _palette(surface);
    padding: _size(padding);
    border-radius: _misc(border-radius);
    max-width: 100%;
    height: 80%;
    position: relative;
    box-sizing: border-box;

    .header {
        height: 10%;
        display: flex;
        justify-content: space-between;

        .icon {
            font-size: _font(headline-large);
        }

        .title {
            margin-bottom: _size(element-margin-small);
            font-size: _font(body-large);
            color: _palette(text-accent);

            &::after {
                content: '';
                display: flex;
                width: 100%;
                height: 0.1rem;
                background-color: _palette(seperator);
            }
        }
    }

    .content {
        height: 70%;
        margin-bottom: _size(element-margin-small);
        margin-top: _size(element-margin-small);


        .skill{
            color: _palette(text-secondary);
        }
    }

    &:hover {
        @include MoveUpTransition;

    }

    &:last-child {
        margin-right: 0;
    }
}