.project-card {
    position: relative;
    top: 0;
    margin: (_size(element-margin) * 2) 0 0 0;
    width: 100%;
    height: _size(featured-project-card-height);

    .project-overview {
        position: absolute;
        height: 100%;
        width: _size(featured-project-overview-width);
        padding: _size(padding);
        display: flex;
        flex-direction: column;
        z-index: 10;
        @include PositionOreintation;

        @include tablet {
            background-color: _palette(surface-transparent);
            border-radius: _misc(border-radius);
            width: 100%;
        }

        .featured-project-header {
            height: 20%;
            justify-content: start;
            margin-bottom: _size(element-margin-extra-small);

            .featured-project-label {
                font-size: _font(body-small);
                color: _palette(primary);
            }

            .featured-project-title {
                width: 100%;
                font-size: _font(body-large);
                color: _palette(text-accent);

                &:hover {
                    color: _palette(primary);
                }

            }

        }

        .featured-project-content {
            width: 100%;
            height: fit-content;
            padding: _size(padding) ;
            margin-bottom: _size(element-margin-extra-small);
            border-radius: _misc(border-radius);
            background-color: _palette(surface);
            font-size: _font(body-small);
            color: _palette(text-secondary);

            @include tablet {
                background-color: transparent;
                padding: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }

            overflow-y: hidden;



            .featured-project-paragraph {
                width: 100%;
                height: fit-content;
                margin-bottom: _size(element-margin-extra-small);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .featured-project-footer {
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
            @include PositionOreintation;

            .featured-project-tags {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: _size(element-margin-extra-small);
                font-size: _font(body-extra-small);
                color: _palette(text-secondary);

                .featured-project-tag {
                    margin-right: _size(element-margin-extra-small);
                    margin-bottom: _size(element-margin-extra-small);
                    width: fit-content;
                }
            }

            .featured-project-actions {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
        }




    }

    .featured-project-image {
        position: absolute;
        width: _size(featured-project-overview-width);
        height: _size(featured-project-overview-height);
        border-radius: _misc(border-radius);
        object-fit: cover;
        bottom: 35%;
        z-index: 9;

        @include tablet {
            top: 0;
            width: 100%;
            height: 100%;
        }

        @include PositionOreintation;

    }



}