#footer{    
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: _size(element-margin) ;
        margin-top: _size(element-margin);
    
    
        .title {
            font-size: _font(body-small);
            color: _palette(primary);
        }
    
        h1 {
            font-size: _font(headline-medium);
            color: _palette(text-accent);
        }
    
        .content {
            font-size: _font(body-small);
            color: _palette(text-primary);
            max-width: 60%;
    
            @include little-desktop{
                max-width: 100%;
            }
        }
    
        .action{
            margin-top: calc(_size(element-margin) / 2);
            max-height: 100%;
        }
    }
    
    

#copyright {
    position: initial;
    bottom: 0%;
    color: _palette(text-primary);
    margin-bottom: _size(element-margin);


    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .socials {
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }

    @include weird-medium {
        .socials {
            visibility: visible;
        }
    }

    .copyright-footer:hover {
        color: _palette(primary);
    }

}
}
