#nav-holder {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;


    #nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        padding: 0.4rem ;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);

        @include tablet {
            padding: 0;
            background: transparent;
            box-shadow: 0 0 0 transparent;
            backdrop-filter: blur(0px);

            ul{
            flex-direction: column;
            align-items: center;
            }
        }

        ul {
            display: flex;
            align-items: flex-end;
            justify-content: space-evenly;


            &.links {
                max-width: 50vw;
                letter-spacing: 0.075em;
                list-style: none;
                margin-bottom: 0;
                padding-left: 0;
                display: flex;
                flex-grow: 1;
                flex-shrink: 1;
                text-transform: uppercase;

                @include tablet {
                    min-height: 100vh;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    min-width: 100vw;

                }
            }

            li {
                a {
                    &:hover {
                        @include icon-transition;
                    }
                }
            }
        }

        .nav-menu {
            z-index: 22;
        }

        aside {
            position: absolute;
            top: 0%;
            right: -100%;
            height: 100vh;
            transition: right 0.3s ease-in-out;
            z-index: 21;

            &.open {
                right: 0;
            }
        }
    }
}


#left-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    position: fixed;
    width: _size(padding) * 1.5;
    z-index: 10;

    @include weird-medium {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: _palette(text-primary);

        &::after {
            content: '';
            display: flex;
            width: 0.1rem;
            height: _size(socials-line-height);
            background-color: _palette(seperator);
        }

    }




}


#right-socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    color: _palette(text-primary);
    align-items: center;
    position: fixed;
    width: _size(padding) * 1.5;
    z-index: 10;

    @include weird-medium {
        display: none;
    }

    a {
        writing-mode: vertical-lr;
        text-orientation: mixed;


    }

    &::after {
        content: '';
        display: flex;
        width: 0.1rem;
        height: _size(socials-line-height);
        background-color: _palette(seperator);
    }

}


.rotate-animation {
    animation: rotation 0.5s linear forwards;
}

.sidebar-animation {

    right: 0%;

    &.open {
        right: -100%;
        transition: right 0.3s ease-in-out
    }
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}