.note-worthy-project-card {
    background-color: _palette(surface);
    padding: _size(padding);
    border-radius: _misc(border-radius);
    max-width: 100%;
    height: fit-content;
    position: relative;
    box-sizing: border-box;

    .project-header {
        height: 10%;
        display: flex;
        justify-content: space-between;

        .icon {
            font-size: _font(headline-large);
        }
    }

    .project-content {
        height: 70%;
        margin-bottom: _size(element-margin-small);

        .project-title {
            margin-bottom: _size(element-margin-small);
            font-size: _font(body-large);
            color: _palette(text-accent);
        }

        .project-paragraph {
            font-size: _font(body-small);
            color: _palette(text-secondary);
        }
    }

    .project-footer {
        height: 20%;

        .project-tags {
            font-size: _font(body-small);
            color: _palette(text-secondary);
            display: flex;
            flex-wrap: wrap;

            .project-tag {
                margin-right: _size(element-margin-extra-small);

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }



    &:hover {
        @include MoveUpTransition;

        .project-title {
            color: _palette(primary);
        }
    }

    &:last-child {
        margin-right: 0;
    }
}

#note-worthy-projects {
    width: 100%;

    @include tablet{
        margin-top: _size(element-margin);
    }

    .section-title {
        text-align: center;
        font-size: _font(headline-small);
        color: _palette(text-accent);
        margin-bottom: _size(element-margin) / 2;
    }

    .projects-flex-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .fade-wrapper-container {
        max-width: 32%;
        height: fit-content;
        margin-top: _size(element-margin) / 2;
        
      
        @include desktop {
            max-width: 50%;
            padding-right: _size(element-margin) / 4;
            &:nth-child(2n){
                padding-right: 0;
                padding-left: _size(element-margin) / 4;
            }
        }

        @include weird-medium{
            max-width: 100%;
            padding-right: 0;

            &:nth-child(2n){
                padding-right: 0;
                padding-left: 0;
            }
        }

    }
}