.note-worthy-project-card {
    background-color: _palette(surface);
    padding: _size(padding);
    border-radius: _misc(border-radius);
    max-width: 30%;
    height: fit-content;
    margin: 0 _size(element-margin-small) _size(element-margin-small) 0;
    position: relative;
    box-sizing: border-box;

    @include desktop {
        max-width: 45%;
    }

    @include weird-medium {
        max-width: 100%;
        margin-right: 0;
    }

    .project-header {
        height: 10%;
        display: flex;
        justify-content: space-between;

        .icon {
            font-size: _font(headline-large);

        }
    }

    .project-content {
        height: 70%;
        margin-bottom: _size(element-margin-small);

        .project-title {
            margin-bottom: _size(element-margin-small);
            font-size: _font(body-large);
            color: _palette(text-accent);
        }

        .project-description {
            font-size: _font(body-small);
            color: _palette(text-secondary);
        }
    }

    .project-footer {
        height: 20%;

        .project-tags {
            font-size: _font(body-small);
            color: _palette(text-secondary);
            display: flex;
            flex-wrap: wrap;

            .project-tag {
                margin-right: _size(element-margin-extra-small);

                &:last-child {
                    margin-right: 0;
                }
            }
        }

    }



    &:hover {
        @include MoveUpTransition;

        .project-title {
            color: _palette(primary);
        }
    }

    &:last-child {
        margin-right: 0;
    }
}

#note-worthy-projects {
    width: 100%;

    .section-title {
        text-align: center;
        font-size: _font(headline-small);
        color: _palette(text-accent);
        margin-bottom: _size(element-margin);
    }

    .projects-flex-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

    }
}