.portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: _palette(text-primary);

    .section-title {
        display: flex;
        flex-direction: row;
        font-size: _font(headline-small);
        color: _palette(text-accent);
        width: 100%;
        flex: 2;
        align-items: center;

        &::after {
            content: '';
            flex: 1;
            padding-left: _size(escape-horizontal);
            vertical-align: middle;
            height: 0.1rem;
            background-color: _palette(seperator);
        }
    }

    .section-content {
        width: 100%;
        align-items: flex-start;
    
        .fade-wrapper-container{
            height: fit-content;
            .fade-wrapper{
                display: flex;
                justify-content: flex-start;
                height: fit-content;
            }
        }
    }

    .section-paragraph {
        margin-bottom: _size(element-margin);
    }
}