html {
    background-color: _palette(background);


}

body {
    overflow-y: auto;
}


.scroll-lock {
    overflow-y: hidden;
}

.link {
    &:hover {
        @include icon-transition;
    }
}


ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#main {
    padding: _size(padding) * 4;

    @include tablet {
        padding: _size(padding) * 2;
    }

}

.action {
    border: 0.1rem solid _palette(primary);
    padding: _size(button-padding);

    &:hover {
        background-color: _palette(primary-container);
    }
}