html {
    background-color: _palette(background);
    font-family: $Apercu;
    line-height: 1;
    color: _palette(onBackground);
}



body {
    overflow-y: auto;
    overflow-x: hidden;
}


.scroll-lock {
    overflow-y: hidden;
}

.link {
    &:hover {
        @include icon-transition;
    }
}


ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#main {
    padding: _size(padding) * 2;

    @include weird-medium {
        padding: _size(padding);
    }

}

.action {
    max-height: 2rem;
    border: 0.1rem solid _palette(primary);
    padding: _size(button-padding);
    color: _palette(primary);
    border-radius: _misc(border-radius);

    &:hover {
        background-color: _palette(accent);
    }
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: _size(icon-extra-large);
    height: 100vh;
}


.fade-wrapper {
    opacity: 0;
    transform: translateY(100%);

    &.visible {
        transition: all 2s ease-in-out;
        transform: translateY(0%);
        opacity: 1;
    }
}