.icons {
    list-style: none;
    padding-left: 0;

    li {
        padding: 0 0.5rem 0 0;
        vertical-align: middle;

       

        .icon {
            &:before {
                width: 2.25rem;
                height: 2.25rem;
                line-height: 2.25rem;
                text-align: center;
                border-radius: 100%;
                font-size: 1.25rem;
            }

            &:hover {
                @include icon-transition;
            }
        }
    }

    &.alt {
        li {
            .icon {
                &:before {
                    font-size: 2rem;
                }
            }
        }
    }
}

.icon {
    @include icon;
    border-bottom: none;
    position: relative;

    >.label {
        display: none;
    }

    &:before {
        line-height: inherit;
    }

    &.solid {
        &:before {
            font-weight: 900;
        }
    }

    &.brands {
        &:before {
            font-family: $fa-brands;
        }
    }

    &:hover{
        @include icon-transition;
    }

}


.alt-2{
    &.icon{
        &:before{
            font-size: 2rem;
        }
    }
}

.skills-icon{
    &:hover{
        color : _palette(primary);
    }
}